<!-- wp:template-part {"slug":"header","theme":"relyo","area":"header"} /-->
<!-- wp:group {"style":{"spacing":{"padding":{"top":"80px","bottom":"80px","left":"26px","right":"26px"},"margin":{"top":"0","bottom":"0"},"blockGap":"0"}},"layout":{"type":"constrained","contentSize":"1180px"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:80px;padding-right:26px;padding-bottom:80px;padding-left:26px"><!-- wp:woocommerce/page-content-wrapper {"page":"cart"} -->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:woocommerce/store-notices /-->

<!-- wp:post-title {"level":1,"align":"wide"} /-->

<!-- wp:post-content {"align":"wide"} /--></main>
<!-- /wp:group -->
<!-- /wp:woocommerce/page-content-wrapper --></div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"relyo","area":"footer"} /-->