<!-- wp:template-part {"slug":"header-with-cover","theme":"relyo","area":"header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"blockGap":"0","padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"backgroundColor":"light-color","layout":{"type":"constrained","contentSize":"100%"}} -->
<main
  class="wp-block-group has-light-color-background-color has-background"
  style="
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  "
>
  <!-- wp:pattern {"slug":"relyo/brand-showcase"} /-->
  <!-- wp:pattern {"slug":"relyo/about-us"} /-->
  <!-- wp:pattern {"slug":"relyo/services"} /-->
  <!-- wp:pattern {"slug":"relyo/portfolio"} /-->
  <!-- wp:pattern {"slug":"relyo/how-we-work"} /-->
  <!-- wp:pattern {"slug":"relyo/why-choose-us"} /-->
  <!-- wp:pattern {"slug":"relyo/team"} /-->
  <!-- wp:pattern {"slug":"relyo/testimonial"} /-->
  <!-- wp:pattern {"slug":"relyo/blogs"} /-->
  <!-- wp:pattern {"slug":"relyo/faqs"} /-->
  <!-- wp:pattern {"slug":"relyo/cta"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"relyo","area":"footer"} /-->
